---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { StarlightIcon } from "~/components";

export const getStaticPaths = (async () => {
	const notes = await getCollection("release-notes");

	return notes.map((note) => {
		return {
			params: {
				slug: note.slug,
			},
			props: {
				note,
			},
		};
	});
}) satisfies GetStaticPaths;

const notes = await getCollection("release-notes");

const { note } = Astro.props;

const { Content, headings } = await note.render();
---

<StarlightPage
	frontmatter={{
		title: note.data.title,
		template: "splash",
	}}
	headings={headings}
	hideTitle={true}
	hideBreadcrumbs={true}
>
	<div class="flex mb-20">
		<div class="flex flex-col">
			<h1>Changelog</h1>
			<p>
				New updates and improvements at Cloudflare.
				<span>
					<a href="/release-notes/feed.rss"> Subscribe to RSS </a>
				</span>
			</p>
			<p>
				<StarlightIcon
					name="left-arrow"
					class="align-middle !inline text-accent"
				/>
				<a href="/release-notes/" class="no-underline">Back to all posts</a>
			</p>
		</div>
	</div>
	<div class="max-w-3xl w-full justify-self-center">
		<h2>{note.data.title}</h2>
		<div>
			<strong
				>{format(note.id.split("/").slice(0, 3), "MMMM dd")}, 12:00PM</strong
			>
			{
				note.data.products.map((product) => (
					<span class="ml-1 bg-orange-200 text-orange-900 rounded-full px-2 py-0.5 text-xs">
						{product}
					</span>
				))
			}
		</div>
		<div>
			<Content />
		</div>
	</div>
</StarlightPage>
