---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import type { GetStaticPaths } from "astro";
import { getCollection } from "astro:content";
import { format } from "date-fns";
import { Image } from "astro:assets";
import HeroImage from "~/assets/images/release-notes/hero.svg";

export const getStaticPaths = (async () => {
	const notes = await getCollection("release-notes");

	return notes.map((note) => {
		return {
			params: {
				slug: note.slug,
			},
			props: {
				note,
			},
		};
	});
}) satisfies GetStaticPaths;

const { note } = Astro.props;

const { Content, headings } = await note.render();
---

<StarlightPage
	frontmatter={{
		title: note.data.title,
		template: "splash",
	}}
	headings={headings}
	hideTitle={true}
	hideBreadcrumbs={true}
>
	<div class="w-full justify-self-center flex mb-20">
		<div class="flex justify-between w-full">
			<div class="flex flex-col">
				<h1>Changelog</h1>
				<p>
					New updates and improvements at Cloudflare.
					<span>
						<a href="/release-notes/feed.rss"> Subscribe to RSS </a>
					</span>
				</p>
				<p>
					<a href="/release-notes/" class="no-underline">← Back to all posts</a>
				</p>
			</div>
			<div>
				<Image src={HeroImage} alt="hero image" height="175" />
			</div>
		</div>
	</div>
	<div class="w-full justify-self-center">
		<h2>{note.data.title}</h2>
		<div>
			<strong
				>{format(note.id.split("/").slice(0, 3), "MMMM dd")}, 12:00PM</strong
			>
			{
				note.data.products.map((product) => (
					<span class="ml-1 bg-orange-200 text-orange-900 rounded-full px-2 py-0.5 text-xs">
						{product}
					</span>
				))
			}
		</div>
		<div>
			<Content />
		</div>
	</div>
</StarlightPage>

<style>
	:root {
		--sl-content-width: 55rem !important;
	}
</style>
