---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";
import { LinkButton, Steps } from "~/components";
import { format } from "date-fns";

const notes = await getCollection("release-notes");

const days = Object.entries(
	Object.groupBy(notes, (note) => note.id.split("/").slice(0, 3).join("/")),
);
---

<StarlightPage
	frontmatter={{ title: "Release notes", tableOfContents: false, template: "splash" }}
	hideTitle={true}
	hideBreadcrumbs={true}
>
	<div class="flex mb-20">
		<div class="flex flex-col">
			<h1>Changelog</h1>
			<p>New updates and improvements at Cloudflare.</p>
		</div>
	</div>
	<!-- <LinkButton href="/release-notes/rss.xml" icon="rss" style={{ padding: "0.4375rem 1.125rem" }}>RSS</LinkButton> -->
	<div class="grid grid-cols-[10%_90%] justify-self-center">
		{
			days.sort().reverse().map(([date, entries]) => {
				const formatted = format(date, "MMMM dd");

				return (
					<div class="!mt-0">
						<strong class="text-xs">{formatted}</strong>
						<p class="text-xs">12:00PM</p>
					</div>
					<Steps>
						<ol class="!mt-0 max-w-3xl">
							{
								entries?.map(async (entry) => {
									const { Content } = await entry.render();

									return (
										<li>
											<a href={`/release-notes/${entry.slug}/`} class="no-underline hover:underline">
												<h3 class="text-[var(--sl-color-text)]">
													{entry.data.title}
												</h3>
											</a>
											<span class="ml-1 bg-orange-200 text-orange-900 rounded-full px-2 py-0.5 text-xs">
													{entry.data.products.join(", ")}
											</span>
											<p>
												<Content />
											</p>
										</li>
									)
								})
							}
						</ol>
					</Steps>
				)
			})
		}
	</div>
</StarlightPage>

<style>
.sl-steps > li::before {
	content: "";
}

:root {
	--sl-content-width: 70rem !important;
}
</style>