---
import StarlightPage from "@astrojs/starlight/components/StarlightPage.astro";
import { getCollection } from "astro:content";
import { Steps } from "~/components";
import { format } from "date-fns";
import { Image } from "astro:assets";
import HeroImage from "~/assets/images/release-notes/hero.svg";

const notes = await getCollection("release-notes");

const days = Object.entries(
	Object.groupBy(notes, (note) => note.id.split("/").slice(0, 3).join("/")),
);
---

<StarlightPage
	frontmatter={{ title: "Release notes", tableOfContents: false, template: "splash" }}
	hideTitle={true}
	hideBreadcrumbs={true}
>
<div class="w-full justify-self-center flex mb-20">
	<div class="flex justify-between w-full">
		<div class="flex flex-col">
			<h1>Changelog</h1>
			<p>
				New updates and improvements at Cloudflare.
				<span>
					<a href="/release-notes/feed.rss"> Subscribe to RSS </a>
				</span>
			</p>
		</div>
		<div class="!mt-0">
			<Image src={HeroImage} alt="hero image" height="175" />
		</div>
	</div>
</div>
	<div class="grid grid-cols-[10%_90%] justify-self-center">
		{
			days.sort().reverse().map(([date, entries]) => {
				const formatted = format(date, "MMMM dd");

				return (
					<div class="!mt-0">
						<p class="leading-none">
							<strong class="text-xs">{formatted}</strong>
							<span class="text-xs">12:00PM</span>
						</p>
					</div>
					<Steps>
						<ol class="!mt-0 max-w-3xl">
							{
								entries?.map(async (entry) => {
									const { Content } = await entry.render();

									return (
										<li>
											<div>
											<a href={`/release-notes/${entry.slug}/`} class="no-underline hover:underline">
												<h3 class="text-[var(--sl-color-text)]">
													{entry.data.title}
												</h3>
											</a>
											{
												entry.data.products.map((product) => (
													<span class="ml-1 bg-orange-200 text-orange-900 rounded-full px-2 py-0.5 text-xs">
														{product}
													</span>
												))
											}
											</div>
											<p>
												<Content />
											</p>
										</li>
									)
								})
							}
						</ol>
					</Steps>
				)
			})
		}
	</div>
</StarlightPage>

<style>
:root {
	--sl-content-width: 55rem !important;
}

.sl-steps > li::before {
	content: "•" !important;
	font-size: calc(var(--bullet-size) * 2) !important;
	line-height: calc(var(--bullet-size) / 1.5) !important;
	color: var(--sl-color-accent) !important;
}
</style>